<tr class="table-top-row">
  <td>title</td>
  <td>Rescue Link</td>
  <td>Tags</td>
</tr>
<tr class="table-top-row">
{{#each rescues}}
{{#each this}}
    <div class="show-rescue">
  {{this.title}}
  <td>{{this.title}}</td>
  <td><a href="{{this.url}}">Rescue Me</a></td>
  <td>{{this.tag}}</td>
  <td><button type="button" class="btn btn-primary edit-rescue" data-rescue-id="{{id}}" data-toggle="modal" data-target="#NOTedit-rescue-modal">Update</button></td>
  <td><button type="button"  class="btn btn-danger delete-rescue" data-rescue-id="{{id}}" data-toggle="modal" data-target="#NOTdelete-rescue-modal">Delete</button></td>
    </div>
</tr>
  {{/each}}
{{/each}}

  {{#each rescueUrl}}
    <h1>{{this}}</h1>
  {{/each}}
