<tr class="table-top-row">
  <td>title</td>
  <td>Rescue Link</td>
  <td>Tags</td>
</tr>
<tr class="table-top-row">
{{#each rescues}}
{{#each this}}
    <div class="show-rescue">
  {{this.title}}
  <td>{{this.title}}</td>
  <td><a href="{{this.url}}">Rescue Me</a></td>
  <td>{{this.tag}}</td>
  <td><button type="button" id="edit-rescue-btn" class="btn btn-primary edit-rescue" data-rescue-id="{{this.id}}" data-toggle="modal" data-target="#update-contact-modal">Update</button></td>
  <td><button type="button" id="delete-rescue-btn" class="btn btn-danger edit-rescue" data-rescue-id="{{this.id}}">Delete</button></td>
    </div>
</tr>
  {{/each}}
{{/each}}

  {{#each rescueUrl}}
    <h1>{{this}}</h1>
  {{/each}}
